.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-bottom: 20px;
    
}
.bg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}